@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {

    /* ### Primary */

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    /* ### Neutral */
    
    --main-BG: hsl(217, 54%, 11%);
    --main-new: hsl(215, 44%, 10%);
    --card-BG: hsl(215, 52%, 17%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
    background-color: var(--main-BG);
}


.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: var(--card-BG);
    box-shadow: 5px 10px 8px 10px var(--main-new);

}
.eqicon {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 15px;
}


/* UPPER SETTINGS */

.upper {
    width: 80%;
}

.text {
    display: block;
    justify-content: center;
    padding: 15px 0px 15px;

}

h3 { 
    padding-top: 10px;
    color: var(--white);
}

p {
    font-size: 15px;
    font-weight: 300;
    color: var(--soft-blue);
}

/* END */



/* BOTTOM SETTINGS */

.bottom {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.icon-name {
    color: var(--cyan);
    font-weight: 700;
    padding: 0px 10px 0px;
}

.counter-name {
    padding: 0px 10px 0px;
}

.left {
    display: flex;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
}

/* END OF SETTINGS */



.line {
    margin: 20px 0px 10px;
    width: 80%;
    height: 1.1px;
    background-color: var(--line);
}



/* AUTHOR SETTINGS */

.author {
    display: flex;
    width: 80%;
    align-items: center;
    margin-bottom: 15px;
}
.photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.photo-name {
    color: var(--white);
    font-weight: 300;
    padding:0px 5px 0px;
}

/* END OF SETTINGS */